select,
::picker(select) {
    appearance: base-select;
}

select,
button {
    cursor: pointer;
}

.calendar-header {
    display: flex;
    place-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;

    @container (inline-size < 600px) {
        flex-direction: column;

        button,
        select {
            width: 100%;
        }
    }

    button {
        padding: 1rem;
    }

    button {
        border: 1px solid;
    }

    select {
        border-radius: 0;
        font-size: 13.3333px;
        font-family: var(--sans);
        padding: 0.9em;
        color: black;
    }

    option {
        font-family: var(--sans);
        text-align: center;
        display: block;
        padding: 1rem;
    }

    option:checked {
        background: greenyellow;
    }

    option::checkmark {
        display: none;
    }

    + h2 {
        margin-block-end: 1rem;
    }

    .icon {
        margin-right: 0.5rem;
    }
}
